.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 2;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 190px;
            img {
                width: 100%;
            }
        }
    }
 
}
// 1024px
@mixin header-lg-xlg {
    .header {
        padding: 16px 0;
        &__inner {
            &-logo {
                width: 170px;
            }
        }
    }
}
// 650px
@mixin header-sm-md-extra {
    .header {
        &__inner {
            &-logo {
                width: 140px;
            }

        }
    }
}
// 540px
@mixin header-xsm-sm {
    .header {

    }
}
// 440px
@mixin header-xxsm-xsm {
    .header {
        &__inner {
            &-logo {
                width: 120px;
            }
        }
    }
}